<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  
    <configSections>
      <sectionGroup name="SAP.Middleware.Connector">
        <sectionGroup name="ClientSettings">
          <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
        </sectionGroup>
      </sectionGroup>
    </configSections>
    <SAP.Middleware.Connector>
      <ClientSettings>
        <DestinationConfiguration>
          <destinations>
            <add NAME="Q08" USER="ISHPT2Q08" PASSWD="space$13" CLIENT="200" LANG="EN" MSHOST="ECCVQASCS.amat.com" GROUP="PUBLIC" SYSID="Q08"/>
            <add NAME="P08" USER="ISHPT2P08" PASSWD="space$19" CLIENT="200" LANG="EN" MSHOST="ECCVPASCS.amat.com" GROUP="PUBLIC" SYSID="P08"/>
            <add NAME="D08" USER="ISHPT2D08" PASSWD="space$13" CLIENT="200" LANG="EN" MSHOST="eccvddb.amat.com" GROUP="PUBLIC" SYSID="D08"/>
          </destinations>
        </DestinationConfiguration>
      </ClientSettings>
    </SAP.Middleware.Connector>
    <system.web>
      <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5"/>
    </system.web>
    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="2147483647"/>
        </webServices>
      </scripting>
    </system.web.extensions>
    <appSettings>
      <add key="ClientId" value="ab5b0bb7-aaf7-47a4-b00b-90d5cb0aae6d"/>
      <add key="ClientSecret" value="1Y3XSlrpF9GEWfhQA5knEIPvtd2nXXfaKs3iFWwBpBQ="/>
      <add key="LDAP_Path" value="LDAP://DC=amat,DC=com"/>
      <add key="UserName" value="ZaraAhmed_Durrani@contractor.amat.com"/>
      <add key="Password" value="Amat888*"/>
      <add key="EnvName" value="DEV"/>
      <add key="SiteURL" value="https://team.amat.com/sites/dev/amcwfp"/>
      <add key="MTPAConnectionSring" value="Data Source=dca-dev-246;Initial Catalog=MTPA;User ID=MTPAUser;Password=MTPAUser@2018"/>
      <add key="SAPDestinationName" value="Q08"/>
      <add key="PeoplePickerUrl" value="https://team.amat.com/sites/dev/amcwfp"/>
      <add key="UserGuideEngURL" value="/Shared%20Documents/AMC%20Materials%20Pass%20Application%20Instruction%20EN.PPTX"/>
      <add key="UserGuideChnURL" value="/Shared%20Documents/AMC%20Materials%20Pass%20Application%20Instruction%20CN.pptx"/>
    </appSettings>
    <!--<appSettings>
    <add key="ClientId" value="e892057d-0513-481b-b1ed-475c82b08296" />
    <add key="ClientSecret" value="NK0hpEahniYRY07pnbU7NQEbDtlUDbRCFSygj8XoR00=" />
    <add key="LDAP_Path" value="LDAP://DC=amat,DC=com" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="EnvName" value="QA" />
    <add key="SiteURL" value="https://team.amat.com/sites/mtpa_qa" />
    <add key="AppDomainUrl" value="https://spqaappweb.amat.com/mtpa_qa" />
    <add key="MTPAConnectionSring" value="Data Source=dca-dev-246;Initial Catalog=MTPA;User ID=MTPAUser;Password=MTPAUser@2018" />
  </appSettings>-->
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <!--Used by app for SharePoint-->
          <binding name="secureBinding">
            <security mode="Transport"/>
          </binding>
        </basicHttpBinding>
      </bindings>
      <protocolMapping>
        <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding"/>
      </protocolMapping>
    </system.serviceModel>
  </configuration>
